.navbarWrapper {
  background: url("../../assets/images/bg-sidebar-mobile.svg") no-repeat top
    left/cover;
  height: calc(100vh - 66.6vh);
  padding-top: 30px;
}
.mainNav {
  width: 180px;
  margin: auto;
}
.mainNav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.mainNav .index {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  border: 2px solid var(--Pastel-blue);
  display: block;
  text-align: center;
  line-height: 33px;
  font-size: 0.85rem;
  font-weight: 500;
  color: var(--Magnolia);
  transition: all 0.2s ease-in;
}
.mainNav .indexActive {
  color: var(--Marine-blue);
  background-color: var(--Light-blue);
  border: none;
}
.stepNumber,
.stepDescription {
  display: none;
}
@media (min-width: 600px) {
}
@media (min-width: 1024px) {
  .navbarWrapper {
    background: url("../../assets/images/bg-sidebar-desktop.svg") no-repeat top
      left/cover;
  }
  .stepNumber {
  }
  .stepDescription {
  }
}
@media (min-width: 2560px) {
}
