.navbarWrapper {
  background: url("../../assets/images/bg-sidebar-mobile.svg") no-repeat top
    left/cover;
  height: calc(100vh - 66.6vh);
  padding-top: 30px;
}
.mainNav {
  width: 180px;
  margin: auto;
}
.mainNav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.mainNav .index {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  border: 2px solid var(--Pastel-blue);
  display: block;
  text-align: center;
  line-height: 33px;
  font-size: 0.85rem;
  font-weight: 500;
  color: var(--Magnolia);
  transition: all 0.2s ease-in;
}
.mainNav .indexActive {
  color: var(--Marine-blue);
  background-color: var(--Light-blue);
  border: none;
}
.stepNumber,
.stepDescription {
  display: none;
}
@media (min-width: 768px) {
  .navbarWrapper {
    background: url("../../assets/images/bg-sidebar-desktop.svg") no-repeat top
      left/cover;
    height: 100%;
    width: 200px;
    border-radius: 10px;
    padding-top: 0;
  }
  .mainNav {
    height: 100%;
    width: 100%;
    padding: 30px 0 0 20px;
  }
  .mainNav ul {
    list-style: none;
    flex-direction: column;
    gap: 20px;
  }
  .mainNav .index {
    height: 25px;
    width: 25px;
    line-height: 23px;
  }
  .mainNav ul li {
    display: flex;
    gap: 20px;
  }
  .mainNav ul li div {
    display: inherit;
    flex-direction: column;
    justify-content: space-between;
  }
  .stepNumber,
  .stepDescription {
    display: block;
    letter-spacing: 2px;
  }
  .stepNumber {
    font-size: 0.525rem;
    color: var(--Pastel-blue);
  }
  .stepDescription {
    font-size: 0.6rem;
    color: var(--Alabaster);
    font-weight: 700;
  }
}
