.main {
  display: flex;
  flex-direction: column;
}
section {
  height: 74.6vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container {
  width: 90%;
  margin: -55px auto 0;
  background-color: var(--White);
  padding: 25px;
  border-radius: 7px;
  box-shadow: 0px 11px 18px -5px var(--Light-gray),
    0px 55px 59px -63px var(--Light-gray);
}

.buttonsContainer {
  height: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: var(--White);
}
.buttonsContainer button {
  height: 30px;
  border: none;
}
.buttonsContainer .btnNext {
  background-color: var(--Marine-blue);
  border-radius: 3px;
  padding: 0 10px;
}
.buttonsContainer .btnPrev {
  background-color: transparent;
}
.buttonsContainer a {
  font-size: 0.7rem;
  display: block;
  width: 100%;
  height: 100%;
  line-height: 30px;
  cursor: pointer;
}
.buttonsContainer .btnPrev a {
  color: var(--Cool-gray);
}
.buttonsContainer .btnNext a {
  color: var(--Light-gray);
  text-decoration: none;
}
@media (min-width: 600px) {
}
@media (min-width: 1024px) {
}
@media (min-width: 2560px) {
}
