.totalWrapper {
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.85rem;
  margin-top: 25px;
}
.totalWrapper span:nth-child(1) {
  color: var(--Cool-gray);
}
.totalWrapper span:nth-child(2) {
  font-size: 1rem;
  color: var(--Purplish-blue);
  font-weight: 700;
}
.summarySection .buttonsContainer {
  flex-direction: row;
}
@media (min-width: 768px) {
  .totalWrapper span:nth-child(1) {
    font-size: 0.75rem;
  }
}
