.confirmSection img {
  height: 55px;
  width: 55px;
  display: block;
  margin: 55px auto auto;
}
.confirmSection .sectionDescription,
.confirmSection .sectionTitle {
  text-align: center;
}
.confirmSection .sectionTitle {
  margin-top: 25px;
  
}
@media (min-width: 600px) {
}
@media (min-width: 1024px) {
}
@media (min-width: 2560px) {
}
