.confirmSection img {
  height: 55px;
  width: 55px;
  display: block;
  margin: 55px auto auto;
}
.confirmSection .sectionDescription,
.confirmSection .sectionTitle {
  text-align: center;
}
.confirmSection .sectionTitle {
  margin-top: 25px;
}
@media (min-width: 768px) {
  .confirmSection {
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  .confirmSection .container {
    padding: 0;
    margin: 0;
  }
  .confirmSection img {
    margin: 0 auto;
    height: 65px;
    width: 65px;
  }
}
