.summaryTable {
  margin-top: 15px;
  padding: 15px;
  background-color: var(--Alabaster);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
thead {
  border-bottom: 1px solid var(--Light-gray);
  padding-bottom: 10px;
}
tr {
  display: flex;
  justify-content: space-between;
}
th {
  font-weight: 700;
  color: var(--Marine-blue);
  font-size: 0.9rem;
}
th:nth-child(1) {
  display: inherit;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}
.backLink a,
td {
  color: var(--Cool-gray);
}
.backLink a:hover{
  color:var(--Purplish-blue)
}
td {
  font-size: 0.85rem;
}
tbody {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
tbody tr td:nth-child(2) {
  font-weight: 700;
  color: var(--Cool-gray);
}

@media (min-width: 768px) {
  th {
    font-size: 0.8rem;
  }
  .backLink a, td {
    
    font-size: 0.75rem;
}
}
