.userInputWrapper {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}
.labelWrapper {
  display: flex;
  justify-content: space-between;
}
.input-error,
.userInputWrapper label {
  font-size: 0.8rem;
  font-weight: 700;
}
.userInputWrapper label {
  color: var(--Marine-blue);
}
.input-error {
  color: var(--Strawberry-red);
  text-align: right;
}
.userInputWrapper input {
  border: 1px solid var(--Light-gray);
  border-radius: 3px;
  outline: none;
  padding: 10px;
  margin-top: 3px;
  color: var(--Marine-blue);
  font-weight: 700;
  transition: all 0.2s ease-in;
  cursor: pointer;
}
.userInputWrapper input:focus,
.userInputWrapper input:active {
  border-color: var(--Purplish-blue);
}
.userInputWrapper input::placeholder {
  color: var(--Cool-gray);
  font-weight: 500;
}
.inputInvalid {
  border-color: var(--Strawberry-red) !important;
}
.buttonsContainer {
  flex-direction: row-reverse;
}
@media (min-width: 768px) {
  .userInputWrapper{
    margin-top: 15px;
  }
  .input-error,
  .userInputWrapper label {
    font-size: 0.75rem;
  }
  .userInputWrapper input {
    margin-top: 5px;
  }
}
