.planSection .container {
  margin-bottom: 20px;
}
.cardWrapper {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.planSection form {
  background-color: var(--Alabaster);
  margin-top: 20px;
  padding: 15px;
}
.planSection .buttonsContainer {
  flex-direction: row;
}
@media (min-width: 600px) {
}
@media (min-width: 1024px) {
}
@media (min-width: 2560px) {
}
