.planSection .container {
  margin-bottom: 20px;
}
.cardWrapper {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.planSection form {
  background-color: var(--Alabaster);
  margin-top: 20px;
  padding: 15px;
}
.planSection form .inputWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.planName {
  color: var(--Cool-gray);
  font-size: 0.8rem;
}
.planSelected {
  color: var(--Marine-blue);
  font-weight: 700;
}

/*********** Baseline, reset styles ***********/
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 30px;
  margin: 0 20px;
}

/* Removes default focus */
input[type="range"]:focus {
  outline: none;
}

/******** Chrome, Safari, Opera and Edge Chromium styles ********/
/* slider track */
input[type="range"]::-webkit-slider-runnable-track {
  background-color: var(--Marine-blue);
  border-radius: 10px;
  padding:0 3px;
  height: 15px;
}

/* slider thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: 2.5px; /* Centers thumb on the track */
  background-color: var(--White);
  border-radius: 50%;
  height: 10px;
  width: 10px;
}

input[type="range"]:focus::-webkit-slider-thumb {
  outline: 3px solid var(--White);
  outline-offset: 0.125rem;
}

/*********** Firefox styles ***********/
/* slider track */
input[type="range"]::-moz-range-track {
  background-color: var(--Marine-blue);
  border-radius: 10px;
  height: 15px;
}

/* slider thumb */
input[type="range"]::-moz-range-thumb {
  background-color: var(--White);
  border: none; /*Removes extra border that FF applies*/
  border-radius: 50%;
  height: 10px;
  width: 10px;
}

input[type="range"]:focus::-moz-range-thumb{
  outline: 3px solid var(--White);
  outline-offset: 0.125rem;
}
.planSection .buttonsContainer {
  flex-direction: row;
}
@media (min-width: 600px) {
}
@media (min-width: 1024px) {
}
@media (min-width: 2560px) {
}
