.planSection .container {
  margin-bottom: 20px;
}
.cardWrapper {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.planSection form {
  background-color: var(--Alabaster);
  margin-top: 20px;
  padding: 15px;
}
.planSection .buttonsContainer {
  flex-direction: row;
}
@media (min-width: 768px) {
  .cardWrapper {
    flex-direction: row;
    gap: 15px;
  }
}
